body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

.card {
  position: relative;
  width: 400px;
  height: 565px;
  border: 10px solid #9612eb;
  margin: 150px auto 0 auto;
  box-shadow: inset 10px 0px 15px 0px rgba(0, 0, 0, 0.1);
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;

  z-index: 1;
}

.card .text-container {
  width: 80%;
  height: 80%;
  margin: auto;
}

.strikethrough {
  text-decoration: line-through;
}

.head {
  font-family: "Nobile", sans-serif;
  font-size: 3em;
  font-weight: bold;
  margin: 60px auto 60px auto;
}

.card p {
  font-size: 2em;
  line-height: 1.4;
  font-family: "Nobile";
  color: #450840;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin: 30px auto 0px auto;
}

.card .front {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: -10px 0px 0px -10px;
  border: 10px solid #9612eb;
  backface-visibility: hidden;
  background-color: #9612eb;
  /* background-image: url($cover-image);
   */
  background-size: contain;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);
  transition: all 0.8s ease-in-out;
}

.card:hover .front {
  transform: perspective(800px) rotateY(-170deg);
  background-color: #41718d;
}

.card:hover .back {
  transform: perspective(800px) rotateY(-170deg);
  box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.3),
    inset 2px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.card .back {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 10px solid #9612eb;
  margin: -10px 0px 0px -10px;

  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);
  transition: all 0.8s ease-in-out;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.profile {
  background-color: orange;
  border: 2px solid black;
  background-image: url("suraj_bhaiya.jpg");
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  z-index: 2;
}

.imgset {
  position: relative;
  z-index: 1;
  margin-bottom: -215px;
}

.imgset img {
  box-shadow: 0px 6px 11px 7px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
}



